
body {
    background-color: rgb(240, 246, 252);
    font-family: helvetica;
}

a {
    text-decoration: none;
}

#brand-logo {
    flex: 0 0 10%;
    padding: 1em;
}

#brand-logo > a > img {
    width: 100%;
}

.checked {
    color: orange;
}

.flex {
    display: flex;
}

.github {
    color: black;
    padding: 0.25em;
}

.imdb {
    background-color: black;
    color: yellow;
    font-size: 5em !important;
    line-height: 0.5em !important;
}

.poster > a > img {
    width: 100%;
}

            