
body {
    background-color: rgb(240, 246, 252);
}

a {
    text-decoration: none;
}

#title {
    display: flex;
}

.checked {
    color: orange;
}

.imdb {
    background-color: black;
    color: yellow;
    font-size: 5em !important;
    line-height: 0.5em !important;
}

.poster > a > img {
    width: 100%;
}

            